/.Xauthority
/.bash_history
/.bash_profile
/.bashrc
/.bashrc-miniconda3.bak
/.cache
/.conda
/.config
/.local
/.ssh
/.viminfo
/.vscode-server
/Miniconda3-latest-Linux-x86_64.sh
/miniconda3
/noresmdata
/ice_cores/data
/ice_cores/output
/*/*.pyc
/ice_cores/__pycache__